article.first {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

article > .first_nav {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 1) 100%);
  color: white;
}
.first_nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
.first_nav > ul > li {
  background-color: white;
  border-radius: 20%;
  color: black;
}

.first_nav a {
  text-decoration: none;
  color: black;
}

@media screen and (max-height: 500px) {
  article > .first_nav {
    padding-top: 200px;
    padding-bottom: 25px;
  }
}

@media screen and (min-height: 500px) {
  article > .first_nav {
    min-height: 180px;
    padding-top: 600px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .first_nav h1 {
    font-size: 23px;
  }
  .first_nav > ul > li {
    font-size: 14px;
    padding: 1px 3px;
  }
}

@media screen and (min-width: 480px) {
  .first_nav h1 {
    font-size: 30px;
  }
  .first_nav > ul > li {
    font-size: 20px;
    padding: 2px 7px;
  }
}
