nav.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  background-color: rgba(35, 40, 211, 0.375);
}

.Top_logo {
  color: #cc2200;
  font-weight: bold;
  font-size: 28px;
}

.SearchBox {
  flex-basis: 200px;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-login {
  position: fixed;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
